.form-group {
  margin-bottom: 15px;
} 

.form-group > label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  box-sizing: border-box;
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #182884;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 3rem;
}
.submit-btn:hover{
    background-color: #3c6fd5;
}
